<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}'s holidays</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='styles/styles.css')}}"
    />
  </head>
  <body>
    <h1>{{title}}'s holidays</h1>
    <p>{{date}}: {{holidays}}</p>
    <form action="/holiday">
      <input type="text" name="country" id="country" placeholder="Enter a country"/>
      <button type="submit">Enter</button>
      <button formaction="/index">Reset</button>
    </form>
  </body>
</html>
